ssh.zip
.gradle/
.hgignore_global
.itmstransporter/
.local/
.m2/	
.mocca/
.mysql_history
.node-gyp/
.npm/
.oh-my-zsh/
.oracle_jre_usage/
.p2/
.pdf-over/
.pgadmin/
.putty/
.rnd
.serverless/
.serverlessrc
.ssh/
.subversion/
.swt/
.test.swp
.tooling/
.vim/
.viminfo
.xsh
.xsh.backup.7819
.yarnrc
.zcompdump-BigOne-5.3
.zenmap/
.zsh_history
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies
Music
Pictures
Public/
VirtualBox VMs/
byfr/
database.sql
doorbell/
mysqldatabase.sql
polymnia.application
polymnia.log
root@83.169.21.58
smtp.tgz
ssh_tunnels/
xiki-master/
xiki/
.3T/
.AirControl2/
.CFUserTextEncoding
.Deco/
.Xauthority
.aws/
.babel.json
.bash_history
.bash_profile
.bash_sessions/
.bashrc
.cache/
.cocoapods/
.config/
.cups/
.docker/
.dvdcss/
.eclipse/
.emulator_console_auth_token
.fastlane/
.gem/
.gitignore_global
.m2/
.gitconfig
